@use "../../assets/scss/" as *;

.filterChip {
    display: flex;
    width: max-content;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    padding: 0 0.75rem;
    border-radius: $size-8;
    border: 1px solid $light-desaturated-green;
    background-color: $lightest-green;
    font-family: $font-text;
    .label {
        color: $darkish-gray;
        font-size: $text-size-14;
        width: max-content;
        margin: 0;
        font-weight: 500;
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
    }
    .ico {
        color: $darkish-gray;
        font-size: 18px;
        opacity: 0;
        width: 0;
        transition:
            opacity 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
            width 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
    }
}
.filterChip:hover {
    cursor: pointer;
}
.active {
    scale: 1;
    padding-left: 0.5rem;
    gap: 0.25rem;
    .label {
        color: $darkish-green;
    }
    .ico {
        color: $darkish-green;
        opacity: 1;
        width: 18px;
        transition:
            opacity 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
            width 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
    }
}

.inactive {
    background-color: white;
    border: 2px solid $lighter-gray;
    color: $dark-gray;
    padding: 0 0.75rem;
}

.blacklisted {
    background-color: $lighter-gray;
    border: 1px solid $light-gray;
    .label {
        color: $darkish-gray;
    }
    .ico {
        color: $darkish-gray;
    }
}

@media screen and (min-width: 1120px) {
    .filterChip .label {
        font-size: 13px;
    }
}
