@use "../../../assets/scss/" as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    color: $darkish-green;
    border: 1px solid $light-desaturated-green;
    border-radius: 1.5rem;
    background-color: $lightest-green;
    box-sizing: border-box;
    padding: 0;
}

button:active {
    background-color: $lightest-green;
}
.noBorder {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border: none;
    background-color: none;
    color: $dark-gray;
}
.disabled {
    background-color: $lighter-gray;
    color: $medium-gray;
}
.disabled:active {
    background-color: $lighter-gray;
    color: $medium-gray;
}
