@use "../../assets/scss" as *;

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    .ingredientsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        align-items: stretch;
        gap: 0.375rem;
    }
}
.bottomButtons {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
    .cycleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        min-width: 56px;
        box-sizing: border-box;
        padding-top: 2px;
        border: none;
        border-radius: 2rem;
        color: white;
        background: linear-gradient(87deg, rgba(0, 200, 99, 1) 0%, rgba(4, 171, 160, 1) 100%, rgba(0, 138, 165, 1) 100%);
        &:focus {
            outline: none;
        }
    }
}

.skeleton {
    flex-grow: 1;
}
.skeleton:last-child {
    border-radius: 8px 8px 16px 16px;
}
.skeleton:first-child {
    border-radius: 16px 16px 8px 8px;
}

.cycleButtonAnimation {
    animation: shake 0.35s ease-in-out;
}
.animateDiscovery {
    scale: 1;
    transition: scale 0.25s cubic-bezier(0.08, 0.82, 0.17, 1);
}

@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(45deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 1120px) {
    .contentWrapper {
        margin-top: 1.25rem;
    }

    .bottomButtons {
        padding-bottom: 0;
    }
}
