@use "../../assets/scss/" as *;

.snackbar {
  position: fixed;
  z-index: 10;

  left: 50%;
  transform: translateX(-50%);

  width: calc(100vw - 32px);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba($color: $darkest-gray, $alpha: 0.2);
  box-sizing: border-box;

  color: $dark-green;
  background-color: white;
  border: 1px solid $light-desaturated-green;

  font-family: $font-poppins;
  font-size: 14px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.snackbar .itemsLeft {
  height: 100%;
  display: flex;
  align-items: center;
  gap: $size-12;
}
.snackbar p {
  margin: 0;
}
.snackbar .itemsRight {
  display: flex;
  align-items: center;
}
.snackbar .ico {
  padding-top: 2px;
}

.snackbarInactive {
  bottom: -15rem;
  transition: bottom 0.3s ease;
}
.snackbarActive {
  bottom: 0.75rem;
  transition: bottom 0.3s ease;
}

.snackbar button {
  padding: 0 4px;
  font-weight: 600;
  text-decoration: underline;
  color: #58933d;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (min-width: 880px) {
  .snackbar {
    position: absolute;
    width: calc(100% - 40px);
  }
  .snackbarActive {
    bottom: $size-20;
  }
}
