@use "../../assets/scss/" as *;

.backgroundOverlay {
    position: fixed;
    z-index: 12;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    transform: translateX(100%);

    background-color: rgba($color: $darkest-gray, $alpha: 0.2);
    opacity: 0;

    transition: opacity 0.3s ease;
}
.sidebar {
    display: flex;
    flex-direction: column;
    z-index: 13;
    position: fixed;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    width: $width-360;
    max-width: 90%;
    background-color: white;
    border-radius: $size-16 0 0 $size-16;
    transform: translateX($width-360);
    opacity: 0;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;

    > header {
        display: flex;
        border-bottom: 1px solid $lighter-gray;
        padding: $size-16 $size-20;
        gap: $size-8;
        padding-right: 0.75rem;
        .contentWrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: $size-8;
            .topItems,
            .bottomItems {
                gap: $size-12;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        h2 {
            color: $darkish-gray;
            font-family: $font-poppins;
            font-size: $text-size-20;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin: 0;
        }
        button {
            height: 36px;
        }
        .itemsRight {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: $size-8;
            > button:last-child > svg {
                stroke-width: 0.5;
                stroke: $darkish-gray;
            }
        }
    }
}
.sidebar .sidebarBody {
    box-sizing: border-box;
    padding: $size-20 0;
    display: flex;
    flex-direction: column;
    gap: $size-24;
    height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    .section {
        display: flex;
        flex-direction: column;
        padding: 0 $size-16;
        gap: $size-8;

        .switchesWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }

    .rowSection {
        gap: $size-12;
    }
}

.blackListedWrapper h4,
.section h4 {
    font-size: $text-size-14;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    color: $darkish-gray;
    font-family: $font-poppins;
    margin: 0;
}

.blackListedWrapper {
    display: flex;
    flex-direction: column;
    gap: $size-8;
    padding: 0 $size-16;
    box-sizing: border-box;

    h4 {
        padding: 0 $size-4;
    }

    .blackListed {
        gap: $size-12;
        display: flex;
        flex-direction: column;

        .filterChipWrapper {
            padding: 0 $size-4;
        }
    }
}

.filterChipWrapper {
    display: flex;
    gap: $size-8;
    flex-wrap: wrap;
}

.backgroundOverlayToggled {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sidebarToggled {
    transform: translateX(0);
    opacity: 1;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 1120px) {
    .backgroundOverlay,
    .backgroundOverlayToggled {
        display: none;
        position: initial;
    }

    .sidebar,
    .sidebarToggled {
        position: relative;
        opacity: 1;
        transform: translateX(0);
        flex: 1 1 0;

        max-width: none;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.15);
        border-radius: $size-16;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $light-gray;
        border-radius: 8px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $medium-gray;
    }

    .noOutline {
        outline: none;
    }

    .sidebar {
        header {
            padding: $size-16;
        }
        header .contentWrapper {
            gap: $size-12;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .topItems {
                display: flex;
                flex-grow: 1;
            }
            .bottomItems {
                flex-grow: 1;
            }
        }
        .itemsRight {
            flex-grow: 1;
            flex-shrink: 1;
            > button {
                flex-grow: 1;
            }
            > :last-child {
                display: none;
            }
        }
    }
}
