@use "../../assets/scss/" as *;

.backgroundOverlay {
    position: fixed;
    z-index: 12;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    transform: translateX(100%);

    background-color: rgba($color: $darkest-gray, $alpha: 0.2);
    opacity: 0;

    transition: opacity 0.3s ease;
}
.sidebar {
    z-index: 13;
    position: fixed;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    width: $width-360;
    max-width: 90%;
    background-color: white;
    border-radius: $size-16 0 0 $size-16;
    transform: translateX($width-360);
    opacity: 0;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;

    header {
        position: abs;
        padding: 1rem $size-20;
        padding-right: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $lighter-gray;
        h2 {
            color: $dark-gray;
            font-family: $font-poppins;
            font-size: $text-size-20;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin: 0;
        }
        button {
            height: 36px;
        }
        .rightItems {
            display: flex;
            align-items: center;
            gap: 1rem;
            > button:last-child > svg {
                stroke-width: 0.5;
                stroke: $dark-gray;
            }
        }
    }
}
.sidebar .sidebarBody {
    box-sizing: border-box;
    position: relative;
    padding: $size-20 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100% - 60px);
    padding-bottom: 2rem;
    overflow-y: scroll;
    .section {
        padding: 0 $size-16;
        .switchesWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}

.section h4 {
    margin-bottom: 8px;
}

.blackListedWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0 $size-16;
    box-sizing: border-box;

    .blackListed {
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }
}

.filterChipWrapper {
    display: flex;
    gap: $size-8;
    flex-wrap: wrap;
}

.backgroundOverlayToggled {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sidebarToggled {
    transform: translateX(0);
    opacity: 1;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

h4 {
    color: $dark-gray;
    font-family: $font-poppins;
    font-size: $text-size-14;
    margin: 0;
}

@media screen and (min-width: 1120px) {
    .backgroundOverlay,
    .backgroundOverlayToggled {
        display: none;
    }

    .sidebar,
    .sidebarToggled {
        position: initial;
        opacity: 1;
        transform: translateX(0);
        flex: 1.5 1 50px;
        max-width: none;
        outline: 2px solid $lighter-gray;
        border-radius: $size-24;
        overflow: hidden;
    }

    .sidebar > header > .rightItems > button:last-child {
        display: none;
    }
    .sidebar header h2{
        font-size: $text-size-16;
        letter-spacing: 0.05rem;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $light-gray;
        border-radius: 8px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $medium-gray;
      }
}
