@use "../../assets/scss/" as *;

.backgroundOverlay {
    position: fixed;
    z-index: 12;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    transform: translateX(100%);

    background-color: rgba($color: $darkest-gray, $alpha: 0.2);
    opacity: 0;

    transition: opacity 0.3s ease;
}
.sidebar {
    z-index: 13;
    position: fixed;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    width: $width-360;
    max-width: 90%;
    background-color: white;
    border-radius: $size-16 0 0 $size-16;
    transform: translateX($width-360);
    opacity: 0;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;

    header {
        position: abs;
        padding: 1rem $size-20;
        padding-right: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lighter-gray;
        h2 {
            color: $dark-gray;
            font-family: $font-poppins;
            font-size: $text-size-20;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin: 0;
        }
        button {
            height: 36px;
        }
        .rightItems {
            display: flex;
            align-items: center;
            gap: 1rem;
            > button:last-child > svg {
                stroke-width: 0.5;
                stroke: $dark-gray;
            }
        }
    }
}
.sidebar .sidebarBody {
    box-sizing: border-box;
    padding: $size-20 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    padding-bottom: 6rem;
    overflow-y: scroll;
    .section {
        display: flex;
        flex-direction: column;
        padding: 0 $size-16;
        gap: $size-8;

        .switchesWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }

    .rowSection {
        gap: $size-12;
    }
}

.blackListedWrapper h4,
.section h4 {
    font-size: $text-size-16;
}

.blackListedWrapper {
    display: flex;
    flex-direction: column;
    gap: $size-8;
    padding: 0 $size-16;
    box-sizing: border-box;

    h4 {
        padding: 0 $size-4;
    }

    .blackListed {
        gap: $size-12;
        display: flex;
        flex-direction: column;

        .filterChipWrapper {
            padding: 0 $size-4;
        }
    }
}

.filterChipWrapper {
    display: flex;
    gap: $size-8;
    flex-wrap: wrap;
}

.backgroundOverlayToggled {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sidebarToggled {
    transform: translateX(0);
    opacity: 1;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

h4 {
    color: $dark-gray;
    font-family: $font-poppins;
    font-size: $text-size-14;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.removeBgOverlay {
    display: none;
    z-index: 0;
}

.positionUnfixed {
    position: unset;
    z-index: initial;
    max-width: none;
    width: 100%;
}

.positionUnfixed .sidebarBody {
    padding-bottom: 8rem;
}

.footer {
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: $size-12;

    box-sizing: border-box;
    padding: $size-16;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    border-top: 1px solid $lighter-gray;
    .buttonsWrapper {
        display: flex;
        gap: $size-12;
        > :first-child {
            flex: 1 1 0;
        }
        > :last-child {
            flex: 2 1 0;
        }
    }
}
@media screen and (min-width: 1120px) {
    .backgroundOverlay,
    .backgroundOverlayToggled {
        display: none;
        position: initial;
    }

    .sidebar,
    .sidebarToggled {
        position: relative;
        opacity: 1;
        transform: translateX(0);
        flex: 1.5 1 50px;
        max-width: none;
        outline: 1px solid $lighter-gray;
        border-radius: $size-16;
        overflow: hidden;
    }

    .sidebar > header > .rightItems > button:last-child {
        display: none;
    }
    .sidebar header h2 {
        font-size: $text-size-16;
        letter-spacing: 0.05rem;
    }

    .footer {
        padding: $size-24;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $light-gray;
        border-radius: 8px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $medium-gray;
    }

    .noOutline {
        outline: none;
    }
}
