@use "../../../assets/scss/" as *;

.suggestionWrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    border-bottom: 1px solid $lighter-gray;
    padding: 0 1.5rem;
    background-color: white;
    font-size: 14px;
    padding: $size-8 $size-16;
}

.suggestion {
    color: $dark-gray;
    font-size: $text-size-14;
    font-family: $font-poppins;
}
.suggestionWrapper:hover {
    cursor: pointer;
    background-color: $lightest-green;
}
