@use "../../../assets/scss/" as *;

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: $size-16;
    width: calc(100vw - 3rem);
    max-width: 25rem;
    font-size: $text-size-14;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    padding-bottom: 0;

    h1 {
        margin: 0;
        font-size: $text-size-24;
        color: $dark-gray;
    }

    .closeIco {
        color: $dark-gray;
        display: flex;
        height: 2rem;
        width: 2rem;
        justify-content: flex-end;
        align-items: center;

        svg {
            stroke: $dark-gray;
            stroke-width: 0.5;
        }
    }
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    height: 100%;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.externalLoginWrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    box-sizing: border-box;
}

.loginToSignup {
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: $text-size-14;
    font-family: $font-poppins;
    font-weight: 500;
    padding: 0;
    color: $dark-gray;
    width: fit-content;

    p {
        display: inline;
        margin: 0;
        padding-left: 0.25rem;
        width: fit-content;
    }

    button {
        display: inline;
        padding: 0 0.25rem;
        font-weight: 600;
        color: #58933d;
        border: none;
        background-color: transparent;
        text-decoration: none;
    }
}
