@use "../../assets/scss/" as *;

.confirmPopup {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    box-sizing: border-box;
    border-radius: $size-16;
    width: calc(100vw - 3rem);
    max-width: 30rem;
    justify-content: start;
    align-items: start;
    gap: $size-16;
    font-family: $font-poppins;
    padding: $size-16 $size-24;
    color: $dark-gray;

    .topItems{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .header {
            font-size: $text-size-20;
            font-weight: 600;
        }
        .message {
            font-size: $text-size-14;
            font-weight: 500;
            margin: 0;
        }
    }

    .buttonsWrapper {
        display: flex;
        align-self: end;
        gap: $size-8;
    }
}