@use "../../assets/scss/" as *;

.confirmPopup {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    border-radius: $size-16;
    width: calc(100vw - 3rem);
    min-width: min-content;
    justify-content: start;
    align-items: start;
    gap: $size-16;
    font-family: $font-poppins;
    padding: $size-24;
    padding-top: $size-16;
    color: $darkish-gray;

    .topItems {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        .header {
            font-size: $text-size-20;
            font-weight: 600;
        }
        .message {
            font-size: $text-size-14;
            font-weight: 500;
            margin: 0;
        }
    }

    .buttonsWrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: $size-8;
    }
}

@media screen and (min-width: 800px) {
    .confirmPopup {
        max-width: 480px;
    }
    
}