@use "./assets/scss/" as *;
@import url(./root.css);

body {
    margin: 0;
    box-sizing: border-box;
    height: 100svh;
}
#root {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
.appContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

@media screen and (min-width: 1120px) {
    .appContainer {
        flex-direction: row;
        gap: 20px;
        padding:24px;
        padding-top: 7.5rem;
        box-sizing: border-box;
        width:100%;
        height: 100%;
        margin: 0;
    }
}
