@use "../variables" as *;

.pageFH {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: $size-20;
    box-sizing: border-box;

    height: 100%;
    overflow: hidden;
}

.noPadding {
    padding: 0 $size-20;
}

@media screen and (min-width: 1120px) {
    .pageFH {
        padding: 0;
        flex-grow: 1;
    }
}
