@use "../variables" as *;

.pageFH {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: $size-20;
    box-sizing: border-box;
    background-color: white;

    height: 100%;
    overflow: hidden;
}

.noPadding {
    padding: 0 $size-20;
}

@media screen and (min-width: 1120px) {
    .pageFH {
        padding: $size-24;
        padding-top: 0;
    }
}