@use "../../../assets/scss/" as *;

.container {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    box-sizing: border-box;
    border-radius: $size-16;
    width: calc(100vw - 3rem);
    max-width: 30rem;
    font-size: $text-size-14;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: $text-size-20;
    padding: 1.5rem;
    padding-bottom: 0;

    > h1 {
        margin: 0;
        font-size: $text-size-24;
        color: $dark-gray;
    }

    .closeIco {
        color: $dark-gray;
        display: flex;
        height: 2rem;
        width: 2rem;
        justify-content: flex-end;
        align-items: center;

        svg {
            stroke: $dark-gray;
            stroke-width: 0.5;
        }
    }
}
.formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    gap: 1rem;

    .inputsWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 1rem;
        margin-top: 1rem;

        .inputWrapper {
            display: flex;
            flex-direction: column;
            height: fit-content;
            gap: 0.25rem;

            label {
                display: block;
                padding-left: 0.25rem;
                font-size: $text-size-14;
                font-family: $header-text;
                font-weight: 600;
                color: $dark-gray;
            }
            // username/email inputs
            input {
                width: 100%;
                border-radius: $size-24;
                border: 1px solid $light-gray;
                min-height: 40px;
                max-height: 48px;
                box-sizing: border-box;
                padding-left: $size-16;
                font-size: $text-size-14;
                font-family: $header-text;

                &:focus {
                    outline: 2px solid $main-color;
                }

                &::placeholder {
                    font-size: $text-size-14;
                    color: $medium-light-gray;
                }
            }

            .error {
                position: relative;
                outline: solid 1px $red;

                ~ .ico {
                    position: absolute;
                    top: 0;
                    transform: translate(-50%, -50%);
                }
            }
            // password inputs
            .passInput {
                position: relative;
                width: 100%;

                .icoWrapper {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .ico {
                    padding: 0.25rem;
                    background-color: transparent;
                    color: $medium-light-gray;
                }

                .errIco {
                    color: $light-red;
                }
            }
        }
        //Terms of service
        .checkLabel {
            padding-left: 0.25rem;
            font-size: $text-size-14;
            font-family: $header-text;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            font-weight: 500;
            color: $dark-gray;
            width: fit-content;

            span {
                font-weight: 600;
                color: #58933d;
            }

            input {
                height: 18px;
                width: 18px;
                margin: 0;
            }
        }
    }
}
// Loading & error
.inlineMsg {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid $dark-gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $dark-gray;
    font-family: $header-text;
    font-weight: 500;
    line-height: 120%;
}

.red {
    color: $red;
    outline-color: $red;
}
// Already have an account?
.message {
    font-size: $text-size-14;
    font-family: $header-text;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: fit-content;
    color: $dark-gray;

    p {
        display: inline;
        margin: 0;
        padding-left: 0.25rem;
    }

    button {
        display: inline;
        padding: 0 0.25rem;
        height: 100%;
        font-weight: 600;
        color: #58933d;
        border: none;
        text-decoration: none;
        background-color: transparent;
    }
}
// Signup / Skip
.buttonsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
