@use "../../../assets/scss/" as *;

.suggestions {
  width: 100%;
  height: 0;
  flex-grow: 1;
  padding: 0 0.75rem;
  box-sizing: border-box;
  opacity: 1;
  background-color: white;
  overflow-y: scroll;
  overscroll-behavior: contain;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  transition:
    opacity 0.65s cubic-bezier(0.08, 0.82, 0.17, 1),
    padding 0.65s cubic-bezier(0.08, 0.82, 0.17, 1);

  .unlockedSuggestion {
    color: $dark-gray;
    background-color: white;
    transition: background-color 0.3s ease;
  }
  .inactiveSuggestion {
    color: rgb(198, 198, 198);
  }
}
.unlockedSuggestion:hover {
  background-color: $light-green;
  transition: background-color 0.3s ease;
}
.unlockedSuggestion:active {
  background-color: $light-green;
  transition: background-color 0.3s ease;
}
.active {
  // input open / closed state
  opacity: 1;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  transition:
    opacity 0.65s cubic-bezier(0.08, 0.82, 0.17, 1),
    padding 0.65s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.ingredientSuggestion {
  font-family: $font-metropolitan;
  border-radius: 1rem;
  width: 100%;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  gap: $size-8;
  margin: 0;
  padding: 0 1rem;
  font-size: $text-size-14;
  background-color: white;
  box-sizing: border-box;
  font-weight: 550;
  > svg {
    font-size: 18px;
  }
}

.ingredientSuggestion:hover {
  cursor: pointer;
}

.lockedSuggestion:focus,
.unlockedSuggestion:focus {
  outline: solid 3px $medium-green;
  outline-offset: -2px;
  background-color: $lightest-green;
}

.suggestions .lockedSuggestion {
  color: $dark-gray;
  background-color: $light-green;
}
