@use "../../assets/scss" as *;

.pageContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    padding: $size-24;
    padding-top: 0;
    gap: 1.5rem;
    justify-content: flex-start;
    border-radius: 1rem;
}

.bottomItems {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: $size-20;
    padding-top: 0.5rem;
    background-color: white;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    .linkItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $size-20 $size-24;
        box-sizing: border-box;

        background-color: white;
        border: 2px solid $lighter-gray;
        border-radius: $size-16;
        cursor: pointer;

        font-size: $text-size-16;
        font-family: $font-poppins;
        color: #3c3838;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 0.025rem;
    }
}

@media screen and (min-width: 1120px) {
    .pageContent {
        padding: $size-24;
        margin-top: 0;
        outline: none;
    }
}
