@use "../../assets/scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
    position: relative;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size-24;

    padding: $size-16 0;
    padding-bottom: $size-12;
    padding-left: $size-4;

    min-height: fit-content;
    background-color: white;

    .leftItems,
    .rightItems {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: $dark-gray;
    }
    .leftItems > h1 {
        font-family: $font-poppins;
        font-size: $text-size-24;
        line-height: 120%;
        font-weight: 700;
        margin: 0;
    }

    .icoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        min-width: 32px;
    }

    .leftItems svg {
        stroke: $dark-gray;
        stroke-width: 1;
    }
}

@media screen and (min-width: 1120px) {
    .header {
        position: initial;
        height: fit-content;
        box-sizing: border-box;
        width: 100%;
        padding-top: $size-24;
        padding-bottom: $size-16;
    }

    .header .rightItems > .icoWrapper:last-child {
        display: none;
    }
}
